<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <h4>Gif me now</h4> <h3>Keep refreshing until you crackup!</h3>
      <img src="{{url}}" />
      <p><small>Courtesy: <a href="http://giphy.com/">Giphy</a></small></p>
    </div>
  </body>
</html>
